{% extends 'base.html' %}

    {% block content %}
        <div class="market-block">
            <div class="market-row field-names">
                <div class="market-element">
                    <p>Name</p>
                </div>
                <div class="market-element">
                    <p>Price</p>
                </div>
                <div class="market-element">
                    <p>Barcode</p>
                </div>
                <div class="market-element">
                    <p>Description</p>
                </div>
            </div>
            {% for item in items %}
                <div class="market-row">
                    <div class="market-element">
                        <p><a href="{{ url_for('item_page', id=item.id) }}">{{ item.name }}</a></p>
                    </div>
                    <div class="market-element">
                        <p>{{ item.price }}</p>
                    </div>
                    <div class="market-element">
                        <p>{{ item.barcode }}</p>
                    </div>
                    <div class="market-element">
                        <p>{{ item.description[:15] + '..' }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}