{% extends 'base.html' %}

{% block content %}
    <div class="form-block">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-content">
                <div class="form-field-block">
                    <p>
                        {{ form.username.label() }}
                        {{ form.username(placeholder='Username') }}
                    </p>
                </div>
                <div class="form-field-block">
                    <p>
                        {{ form.user_email.label() }}
                        {{ form.user_email(placeholder='Email') }}
                    </p>
                </div>
                <div class="form-field-block">
                    <p>
                        {{ form.password1.label() }}
                        {{ form.password1(placeholder='Password') }}
                    </p>
                </div>
                <div class="form-field-block">
                    <p>
                        {{ form.password2.label() }}
                        {{ form.password2(placeholder='Confirm Password') }}
                    </p>
                </div>
                <div class="form-field-block">
                    <p>
                        {{ form.submit(placeholder='Submit') }}
                    </p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}